.custom-thumbnail {
    border       : 2px solid #EEF0EA !important;
    padding      : 8px;
    cursor       : pointer;
    margin-bottom: 50px;

    &:hover {
        border-color: #53CCD7 !important;

    }

    h4 {
        font-size: 14px;
    }

    .sale {
        padding : 5px 10px;
        position: absolute;
        left    : 16px;
        top     : 14px;

        &::before {
            content: "-";
        }
    }

    img {
        max-height: 250px;
        width     : 100%;
        max-width : 250px;
        @media (max-width: 767.98px) and (max-width: 991.98px){
            height: 200px;
        }
        @media (max-width: 767.98px){
            height: 250px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}